body {

  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
.blocco {

  height:680px;
  width:950px;
  background-color:#000000;
  margin:0 auto;
  border-radius:20px;
  opacity: 0.65;
  display: block;

}
img {

  width:200px;
  height:90px;
  padding-left: 38%;
  padding-top: 5%;

}
h1 {

  color: green;
  padding-left: 25%;
  opacity:1;

}
.contenuto {

  padding-left: 4%;
  padding-right: 4%;
  opacity:1;

}
.cornice {

  padding-left: 3%;
  padding-right: 3%;
  height:30px;
  max-width:850px;
  background-color:green;
  margin:0 auto;
  display:block;

}
label {

  color:white;
  font-size:20px;

}
p {

  color: white;
  font-size:17px;
  margin: 0 0 0 0;

}
.carica1 {

  height:20px;
  max-width:300px;
  background-color:orange;
  margin:0 auto;
  border-radius:5px;
  display:block;
  margin: 0 0 0 0;

}
.carica2 {

  height:20px;
  max-width:600px;
  background-color:green;
  margin:0 auto;
  border-radius:5px;
  display:block;
  margin: 0 0 0 0;

}
.carica3 {

  height:20px;
  max-width:100px;
  background-color:red;
  margin:0 auto;
  border-radius:5px;
  display:block;
  margin: 0 0 0 0;

}
.primo {

  padding: 3%;
  padding-top: 5%;

}
.secondo {

  padding: 3%;

}
.menu {

  padding: 0.5%;
  padding-left: 30%;

}
